.menu-header{
    background: #77b800;
    border-color: #355002;
    border-radius: 0;
}

.products{}
.title{
    font: 800 2em 'open sans';
    color: #77b800;
    magin: 20px 4px;
}
.product{
    text-align: center;
    margin-bottom: 50px;
}
.product img{
    width: 200px;
    height: 200px;
}
.product h2{
    font: 200 1em 'open sans';
}
.product a{
    text-decoration:  none;
    background: #77b800;
    color:  #fff;
    padding: 6px 0;
    width:  100%;
    float: left;
}
.product a:hover{
    background: #466b03;
}
