.menu-header{
    background: #77b800;
    border-color: #76b80e;
    border-radius: 0;
}

.products{}
.title{
    font: 800 2em 'open sans';
    color: #77b800;
    magin: 20px 4px;
}
.product{
    text-align: center;
    margin-bottom: 50px;
}
.product img{
    width: 200px;
    height: 200px;
}
.product h2{
    font: 200 1em 'open sans';
}
.product a{
    text-decoration:  none;
    background: #77b800;
    color:  #fff;
    padding: 6px 0;
    width:  100%;
    float: left;
}
.product a:hover{
    background: #466b03;
}

.img-cart{
    max-width: 40px;
}

.total-cart{
    float: right;
    padding: 20px;
    font: 600 2.2em "open sans";
    background:#77b800;
    color:#fff;
}

.finish-cart{
    float: right;
    width: 100%;
}
.finish-cart a{
    background: #000;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    float: right;
    text-decoration: none;
}
.finish-cart a:hover{
    background: #585656;
}

.cart-action-item{
    font: 800 2em "open sans";
    color: #77b800;
}

a.cart-action-item:link{
    text-decoration: none;
}

a.cart-action-item:hover{
    color: #000000;
}

.btn-form{
    width: 100%;
    background-color: #76b80e;
    border-color: #75b80e;
}
.btn-form:hover {
    color: #fff;
    background-color: #528403;
    border-color: #528403;
}



